@CHARSET "ISO-8859-1";
.custom-btn{
	width: 25%;
	
}
.custom-btn-s{
	width: 15%;
}
.col.s6 > .btn {
   width: 100%;
}
.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}